.m-25 {
    margin: 25px 0px;
}

.m-15 {
    margin: 15px 0px;
}

.mt-25 {
    margin: 25% 0;
}

.mt-59 {
    margin: 0px 0px 59px;
}

.rounded {
    border-radius: 15px !important;
    padding: 0px 75px 75px 75px !important;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
}

.btn {
    border-radius: 25px;
}


.invalid-feedback {
    display: block;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}