.reset-password-form {
    display: grid;
    padding: 30px 45px 45px 45px;
    align-content: center;
}

.info, .info h1{
    padding-bottom: 15px;
}


.forgot-password {
    max-width: 600px;
    margin: auto;
    margin-top: 40px !important;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
}

.back{
    margin-top: 15px;
    text-decoration: none;
}

.invalid-feedback {
    display: block;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.spinner-border {
    animation: spinner-border 0.75s linear infinite;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}