.reset-password-form {
    display: grid;
    padding: 30px 45px 45px 45px;
    align-content: center;
}

.info,
.info h1 {
    padding-bottom: 15px;
}


.m-25 {
    margin: 25px 0px;
}

.m-15 {
    margin: 15px 0px;
}

.mt-25 {
    margin: 25% 0;
}

.mt-59 {
    margin: 0px 0px 59px;
}

.rounded {
    border-radius: 15px !important;
    padding: 20px 75px 75px 75px !important;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
}

.btn {
    border-radius: 25px;
}

.back {
    margin-top: 15px;
    text-decoration: none;
}

.invalid-feedback {
    display: block;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.btn {
    border-radius: 25px;
}

.spinner-border {
    animation: spinner-border 0.75s linear infinite;
}

h1, input, button, span, a {
    font-family: 'Hind', sans-serif;
}


@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}