<div class="forgot-password">

  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="reset-password-form">
    <div class="info">
      <h1>Forgot your password</h1>
      <span>Please enter the email address you'd like your password reset information sent to</span>
    </div>
    <div class="form-group">

      <label for="email">Enter email address:</label>
      <input type="email" id="email" formControlName="email" name="email" [(ngModel)]="email" required
        class="form-control"
        [ngClass]="{ 'is-invalid': resetPasswordForm.get('email').submitted && resetPasswordForm.get('email').invalid }"  required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
      <div class="invalid-feedback"
        *ngIf="resetPasswordForm.get('email').invalid && (resetPasswordForm.get('email').dirty || resetPasswordForm.get('email').touched)">
        <div *ngIf="resetPasswordForm.get('email').errors.required">El correo electrónico es requerido.</div>
        <div *ngIf="resetPasswordForm.get('email').errors.email">Ingrese una dirección de correo electrónico válida.
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button *ngIf="!loading" class="btn btn-primary mt-2 w-100" type="submit"
        [disabled]="resetPasswordForm.invalid">Submit</button>
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2 mt-2"></span>

    </div>
    <a class="d-flex justify-content-center back" routerLink="/">Back to login</a>

  </form>
</div>
