/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    background-color: #f1f7fe !important;
}

.backgroun_row {
    background: #f1f7fe !important;
}

h1,
h2,
h3,
input,
button,
span,
a {
    font-family: 'Hind', sans-serif;
}